@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

a.externo::after{
    content: '\00a0\1F517';
}
:root{
   --fonte-título: 'anton';
   --fonte-texto: 'roboto condensed', arial;
   --fonte-especial: 'bebas neue'

}
body{
    background-color: black;
}
header > h1{
    background-color: white;
    padding: 30px;
    font-family: var(--fonte-título);
    font-size: 2em;
    text-align: center;
}
header > p {
    background-color: white;
    font-family: var(--fonte-texto);
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

main > span > ul{
    padding-top: 15px; ;
  text-align: center;
   columns: 2;  
   background-color: white;
   list-style-position: inside;
   
}
main > span > ul > li > a{
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
} 
main > span > ul > li > a:hover{
    background-color: rgba(0, 0, 0, 0.37);
    padding: 10px;
}
